services:
    web:
        build: .
        container_name: sheet_music_web
        ports:
            - "8000:8000"
        volumes:
            - staticfiles:/app/staticfiles
            - ./media:/app/media
        depends_on:
            db:
                condition: service_healthy
        env_file:
            - .env
        restart: unless-stopped
    db:
        image: postgres:17
        container_name: sheet_music_postgres
        volumes:
            - ./postgres_data:/var/lib/postgresql/data
        environment:
            POSTGRES_DB: ${POSTGRES_DB}
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_HOST: ${POSTGRES_HOST}
            POSTGRES_PORT: ${POSTGRES_PORT}
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
            interval: 10s
            timeout: 5s
            retries: 5
        env_file:
            - .env
        restart: unless-stopped
    
    db-backup:
        image: prodrigestivill/postgres-backup-local
        container_name: sheet_music_db_backup
        depends_on:
            db:
                condition: service_healthy
        env_file:
            - .env
        restart: always
        environment:
            POSTGRES_DB: ${POSTGRES_DB}
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_HOST: ${POSTGRES_HOST}
            POSTGRES_PORT: ${POSTGRES_PORT}
            SCHEDULE: '@daily'
            BACKUP_ON_START: true
            BACKUP_KEEP_DAYS: 7
            BACKUP_KEEP_WEEKS: 4
            BACKUP_KEEP_MONTHS: 6
            HEALTHCHECK_PORT: 8080
        volumes:
            - ./postgres_backup:/backups
        
    frontend-proxy:
        image: nginx:latest
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf:ro
            - staticfiles:/app/staticfiles
            - ./media:/app/media
            - ./certbot/www:/var/www/certbot   # ACME challenge webroot
            - ./certbot/conf:/etc/letsencrypt
        env_file:
            - .env
        restart: unless-stopped
        depends_on:
            web: 
                condition: service_started
    certbot:
        build:
            context: .
            dockerfile: Dockerfile.certbot
        container_name: certbot
        volumes:
            - ./certbot/conf:/etc/letsencrypt
            - ./certbot/www:/var/www/certbot
            - ./certbot/scripts:/scripts
        depends_on:
            - frontend-proxy
        restart: unless-stopped
volumes:
    postgres_data: 
    media:
    staticfiles:
    certbot:
    postgres_backup: