{% extends "base.html" %}
{% load static %}
{% load permissions %}
{% block title %}Přidat noty | Sheet Music DB{% endblock %}
{% block content %}

    <div class="container-lg justify-content-center flex w-50 w-md-75 w-sm-100">
        <h1>Přidat noty</h1>
        <form method="post" enctype="multipart/form-data" class="d-flex flex-column gap-3">
            {% csrf_token %}
            <div class="title_input">
                <label for="title" class="form-label">Název skladby</label>
                <input type="text" name="title" id="title" class="form-control" required>
            </div>
            <div class="composer_input">
                <label for="composer" class="form-label">Skladatel</label>
                <input type="text" name="composer" id="composer" class="form-control" required>
            </div>
            <div class="cast_input">
                <label for="cast" class="form-label">Obsazení</label>
                <select class="form-select" id="cast" name="cast" required>
                    <option value="" selected disabled>Vyberte obsazení...</option>
                    {% for cast_code, cast_name in cast_choices %}
                        <option value="{{ cast_code }}">{{ cast_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="season_input">
                <label for="season" class="form-label">Liturgické období</label>
                <select class="form-select" id="season" name="season" required>
                    <option value="" selected disabled>Vyberte liturgické období...</option>
                    {% for season_code, season_name in season_choices %}
                        <option value="{{ season_code }}">{{ season_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="use_input">
                <label for="use" class="form-label">Liturgická příležitost</label>
                <select class="form-select" id="use" name="use" required>
                    <option value="" selected disabled>Vyberte liturgickou příležitost...</option>
                    {% for use_code, use_name in use_choices %}
                        <option value="{{ use_code }}">{{ use_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="publication_year_input">
                <label for="publication_year" class="form-label">Rok vydání</label>
                <input type="number" name="publication_year" id="publication_year" class="form-control">
            </div>
            <div class="publisher_input">
                <label for="publisher" class="form-label">Vydavatel</label>
                <input type="text" name="publisher" id="publisher" class="form-control">
            </div> 
            <div class="isbn_input">
                <label for="isbn" class="form-label">ISBN</label>
                <input type="text" name="isbn" id="isbn" class="form-control">
            </div>
            <div class="description_input">
                <label for="description" class="form-label">Popis</label>
                <textarea name="description" id="description" class="form-control"></textarea>
            </div>
            <div class="tags_input">
                <label for="tags" class="form-label">Tagy</label>
                <input type="text" name="tags" id="tags" class="form-control" placeholder="oddělené čárkou, např. church, svatba, advent">
                <div class="form-text">Přidejte krátké štítky pro snadnější vyhledávání. Oddělujte čárkou.</div>
            </div>
            <div class="public_input">
                <label for="public" class="form-label">Veřejné?</label>
                <input type="checkbox" name="public" id="public" class="form-check">
            </div>
            <div class="preview_image_input">
                <label for="preview_image" class="form-label">Náhledový obrázek</label>
                <input type="file" name="preview_image" id="preview_image" class="form-control">
            </div>
            <div class="sheet_file_input">
                <label for="sheet_file" class="form-label">Soubor s notami</label>
                <input type="file" name="sheet_file" id="sheet_file" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Uložit noty</button>
            <a class="btn btn-outline-danger" href="{% url 'home' %}">Zpět</a>
        </form>
    </div>
{% endblock %}
{% block extra_js %}
<script></script>
{% endblock %}