<!DOCTYPE html>
<html lang="en">
    <div class="confirmation-popup" id="confirmationPopup">
        <div class="popup-content">
            <p>Are you sure you want to delete "{{ sheet.name }}"?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="confirm-button">Yes, Delete</button>
                <button type="button" class="cancel-button" onclick="closePopup()">Cancel</button>
            </form>
        </div>
    </div>

    <script>
        function openPopup() {
            document.getElementById('confirmationPopup').style.display = 'block';
        }

        function closePopup() {
            document.getElementById('confirmationPopup').style.display = 'none';
        }
    </script>
