<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
    {% load static %}
    {{ form.media }}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="form_container">
        <h1>Přidat noty</h1>
        <form method="post"></form>
            {% csrf_token %}
        <div class = "name_input">
            <label for="name" class="form-label">Název skladby</label>
            <input type="text" name="name" class="form-control" required value="{{ sheet.title }}">
        </div>
        <div class="composer_input">
            <label for="composer" class="form-label">Skladatel</label>
            <input type="text" name="composer" class="form-control" required value="{{ sheet.composer }}">
        
         <div class="difficulty_input">
            <label for="difficulty" class="form-label">Obtížnost</label>
            <select class="form-select" id="difficulty" name="difficulty" required>
            <option value="" disabled {% if not sheet.difficulty %}selected{% endif %}>Vyberte žánr...</option>
            {% for difficulty_code, difficulty_name in difficulty_choices %}
                <option value="{{ difficulty_code }}" {% if difficulty_code == sheet.difficulty %}selected{% endif %}>{{ difficulty_name }}</option>
            {% endfor %}
            </select>
        </div>
        
            <div class="genre_input">
            <label for="genre" class="form-label">Žánr</label>
            <select class="form-select" id="genre" name="genre" required>
                <option value="" selected disabled>Vyberte obtížnost...</option>
                {% for genre_code, genre_name in topic_choices %}
                    <option value="{{ genre_code }}" {% if genre_code == sheet.genre %}selected{% endif %}>{{ genre_name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="publication_year_input">
            <label for="publication_year" class="form-label">Rok vydání</label>
            <input type="number" name="publication_year" class="form-control" value="{{ sheet.publication_year }}">
        </div>

        <div class="publisher_input">
            <label for="publisher" class="form-label">Vydavatel</label>
            <input type="text" name="publisher" class="form-control" value="{{ sheet.publisher }}">
        </div> 
        <div class="isbn_input">
            <label for="isbn" class="form-label">ISBN</label>
            <input type="text" name="isbn" class="form-control" value="{{ sheet.isbn }}">
        </div>
        <div class="description_input">
            <label for="description" class="form-label">Popis</label>
            <textarea name="description" class="form-control">{{ sheet.description }}</textarea>
        </div>
        <div class="sheet_file_input">
            <label for="sheet_file" class="form-label">Soubor s notami</label>
            <input type="file" name="sheet_file" class="form-control">
            {% if sheet.sheet_file %}
            <p>Aktuální soubor: <a href="{{ sheet.sheet_file.url }}" target="_blank">{{ sheet.sheet_file.name }}</a></p>
            {% endif %}
        </div>
        <button type="submit" class="submit-button">Uložit změny</button>
        </form>
    </div>
    </div>
</body>