{% extends "base.html" %}
{% load static %}
{{ form.media }}
{% load permissions %}
{% block title %}Upravit noty | Sheet Music DB{% endblock %}
{% block content %}
    <div class="container justify-content-center flex w-50 w-md-75 w-sm-100">
        <h1>Upravit noty</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="title_input">
                <label for="title" class="form-label">Název skladby</label>
                <input type="text" name="title" id="title" class="form-control" required value="{{ sheet.title }}">
            </div>
            <div class="composer_input">
                <label for="composer" class="form-label">Skladatel</label>
                <input type="text" name="composer" id="composer" class="form-control" required value="{{ sheet.composer }}">
            </div>
            <div class="difficulty_input">
                <label for="difficulty_level" class="form-label">Obtížnost</label>
                <select class="form-select" id="difficulty_level" name="difficulty_level" required>
                    <option value="" disabled {% if not sheet.difficulty_level %}selected{% endif %}>Vyberte obtížnost...</option>
                    {% for difficulty_code, difficulty_name in difficulty_choices %}
                        <option value="{{ difficulty_code }}" {% if difficulty_code|stringformat:"s" == sheet.difficulty_level|stringformat:"s" %}selected{% endif %}>{{ difficulty_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="genre_input">
                <label for="genre" class="form-label">Žánr</label>
                <select class="form-select" id="genre" name="genre" required>
                    <option value="" selected disabled>Vyberte žánr...</option>
                    {% for genre_code, genre_name in genre_choices %}
                        <option value="{{ genre_code }}" {% if genre_code == sheet.genre %}selected{% endif %}>{{ genre_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="publication_year_input">
                <label for="publication_year" class="form-label">Rok vydání</label>
                <input type="number" name="publication_year" id="publication_year" class="form-control" value="{{ sheet.publication_year }}">
            </div>
            <div class="publisher_input">
                <label for="publisher" class="form-label">Vydavatel</label>
                <input type="text" name="publisher" id="publisher" class="form-control" value="{{ sheet.publisher }}">
            </div> 
            <div class="isbn_input">
                <label for="isbn" class="form-label">ISBN</label>
                <input type="text" name="isbn" id="isbn" class="form-control" value="{{ sheet.isbn }}">
            </div>
            <div class="description_input">
                <label for="description" class="form-label">Popis</label>
                <textarea name="description" id="description" class="form-control">{{ sheet.description }}</textarea>
            </div>
            <div class="public_input">
                <label for="public" class="form-label">Veřejné?</label>
                <input type="checkbox" name="public" id="public" class="form-check" {% if sheet.public %}checked{% endif %}>
            </div>
            <div class="preview_image_input">
                <label for="preview_image" class="form-label">Náhledový obrázek</label>
                <input type="file" name="preview_image" id="preview_image" class="form-control">
                {% if sheet.preview_image %}
                <p>Aktuální obrázek: <a href="{{ sheet.preview_image.url }}" target="_blank">{{ sheet.preview_image.name }}</a></p>
                {% endif %}
            </div>
            <div class="sheet_file_input">
                <label for="sheet_file" class="form-label">Soubor s notami</label>
                <input type="file" name="sheet_file" id="sheet_file" class="form-control">
                {% if sheet.sheet_file %}
                <p>Aktuální soubor: <a href="{{ sheet.sheet_file.url }}" target="_blank">{{ sheet.sheet_file.name }}</a></p>
                {% endif %}
            </div>
            <button type="submit" class="submit-button">Uložit změny</button>
        </form>
    </div>
{% endblock %}
{% block extra_js %}
<script></script>
{% endblock %}