<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sheet Music Database</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add your CSS links here -->
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <aside class="sidebar">
            <h3>Filters</h3>
            <!-- Filtering options go here -->
            <div>
                <label>Instrument</label>
                <select>
                    <option>All</option>
                    <option>Piano</option>
                    <option>Violin</option>
                    <!-- ... -->
                </select>
            </div>
            <div>
                <label>Genre</label>
                <select>
                    <option>All</option>
                    <option>Classical</option>
                    <option>Jazz</option>
                    <!-- ... -->
                </select>
            </div>
            <!-- Add more filters as needed -->
        </aside>
        <main class="main-content">
            <h2>Sheet Music List</h2>
            <div class="sheet-music-list">
                <a href="{% url 'add_sheet' %}">Přidat noty</a>
                <!-- Example items -->
                {% for sheet in sheets %}
                <div class="sheet-music-item">
                    <h3>{{ sheet.title }}</h3>
                    <div class="sheet-file-preview">
                         {% if sheet.sheet_file %}
                        {% if sheet.sheet_file.url|slice:"-4:"|lower == ".pdf" %}
                        <embed src="{{ sheet.sheet_file.url }}" type="application/pdf" width="300px" height="400px"/>
                        {% else %}
                        <img src="{{ sheet.sheet_file.url }}" alt="Sheet preview"/>
                        {% endif %}
                        {% endif %}
                    </div>
                    
                    <div class="sheet-details">
                        <p>Skladatel: {{ sheet.composer }}</p>
                        <p>Rok vydání: {{ sheet.publication_year }}</p>
                        <p>Žánr: {{ sheet.get_genre_display }}</p>
                        <p>Obtížnost: {{ sheet.difficulty_level }}</p>
                    </div>
                    <div class="sheet-options">
                        <a href="{% url 'sheet_profile' sheet.pk %}">Více</a>
                        <a href="{% url 'edit_sheet' sheet.pk %}">Upravit</a>
                        <form method="POST" action="{% url 'delete_sheet' sheet.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="delete-button" onclick="return confirm('Určitě chcete odstranit tyto noty?');">Odstranit</button>
                    </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </main>
    </div>
    {% include 'footer.html' %}
</body>
</html>