<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="form_container">
        <h2>Login</h2>
        <form method="post" class="form">
            {% csrf_token %}
            <div class="username_input">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" required>
            </div>
            <div class="password_input">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" required>
            </div>
            <button type="submit" class="submit-button">Login</button>
        </form>
        <p class="register-text">Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
    </div>
</body>
</html>